.cities {
  padding: 24px;
}

.cities-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cities-list-element {
  padding: 6px;
}
.cities-list-element.selected {
  background-color: black;
  color: white;
  border-radius: 6px;
}
